<header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <div class="text-center">
            <img height="250" width="800" src="assets/img/copa-america.jpeg" class="rounded mx-auto d-block" alt="Logo CA">
            <h2 class="display-4">Welcome to the Copa America simulator</h2>
          </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark" >
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Cupp App</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/countries">Qualified countries</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/draft">Draft Simulator</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/kophase">Knock Out simulator</a></li>
          </ul>
        </div>

    </nav>
  </header>
